@use '../../../variables' as *;

.chatWrapper {
  flex: 1;
  max-height: 100%;
  overflow: scroll;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
  overflow: scroll;
  overflow-anchor: none;
  height: 100%;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
  overflow-anchor: none;
  height: 100%;
}

.anchor {
  overflow-anchor: auto;
  height: 0;
}

.margin {
  height: 10px;
  background-color: $white;
}
