$green: #128D8E;
$white: #F8FFFF;
$black: #2F2F2F;
$red: #EA7A7B;
$lime: #91DE12;
$light-green: #61AAAA;
$dark-green: #095252;
$aqua: #12D2D3;
$dark-aqua: #4D9999;
$peach: #D89D9E;

$heading-weight: 600;
$heading-size: 20px;
$body-size: 16px;
$secondary-body-size: 14px;
$button-text-weight: 600;
$button-text-size: 14px;
